<%# ユーザー状況表示 %>

<div class="user-status">
  <p><%= user_status %></p>
</div>

<div class="lobby-actions">
  <%= link_to 'ルーム作成', new_lobby_path, class: 'btn btn-primary' %>
  <%= link_to 'ルーム参加', join_room_path, class: 'btn btn-secondary' %>
  <% if current_user&.room_id.present? %>
    <%= link_to "ルームに戻る", back_room, class: "btn btn-primary" %>
  <% end %>
    <%= link_to "ログアウト", logout_path, 
              method: :delete, 
              class: "btn btn-danger",
              data: { 
                turbo_method: :delete,
                confirm: "ログアウトしますか？" 
   } %>
</div>
<%= turbo_stream_from "display_rooms" %>
<%= render 'lobby/rooms_content', rooms: @rooms %>


